<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styleClientes.css" media="screen">
    <script src="static/javascript.js"></script>
    <title>Formulário | GN</title>
</head>

<body>
    <div class="box">
            <fieldset>
                <legend><b>Controle de Registro dos Produtos</b></legend>
                <br>
                <button type="submit" name="submit" id="submit" onclick="adicionar_produto()">Adicionar Produto</button>
                <br><br>
                <button type="submit" name="submit" id="submit" onclick="editar_produto()">Editar Registro de Produto</button>
                <br><br>
                <button type="submit" name="submit" id="submit" onclick="deletar_produto()">Deletar Registro de Produto</button>
            </fieldset>
    </div>
</body>

</html>